﻿@page "/"
@inject Feedback feedback
@inject HttpClient HttpClient
@inject IHttpClientFactory ClientFactory
@using System.Text.Json


<h1>Feedback</h1>

<EditForm Model="@feedback" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <label for="feedback">Del din feedback om SurfsUp siden!</label>
    <InputTextArea id="feedbackText" style="width: 100%" @bind-Value="feedback.FeedbackMessage" />

    @*<InputNumber @bind-Value="feedback.FeedbackMessage" class="form-control" id="Feedback" />*@

    <button type="submit">Submit Feedback</button>
</EditForm>

<label id="response"></label>

@code {

    protected override async Task OnInitializedAsync()
    {
        feedback.FeedbackMessage = "";
    }

    private async Task HandleValidSubmit()
    {
        HttpClient = ClientFactory.CreateClient("BlazorTest");
        await HttpClient.PostAsJsonAsync("api/Feedback", feedback);
        feedback = new Feedback(); 
    }
}