﻿@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using SurfsUpBlazor.Shared.Models
@using Microsoft.AspNetCore.Authorization
@inject HttpClient Http
@inject NavigationManager navigationManager
@attribute [Authorize]
<div>
    @if (feedbacks == null)
    {
        <p><em>Indlæser...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Feedback message</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var feedback in feedbacks)
                {
                    <tr>
                        <td>@feedback.FeedbackMessage</td>
                        @if (AdminView)
                        {
                            <button @onclick="() => DeleteFeedback(feedback)">Slet</button>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
</div>


@code {
    private List<Feedback> feedbacks;

    [Parameter]
    public bool AdminView { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            feedbacks = await Http.GetFromJsonAsync<List<Feedback>>("api/Feedback");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }

    }

    protected async Task DeleteFeedback(Feedback feedback)
    {
        await Http.DeleteAsync("api/Feedback/Delete/" + Convert.ToInt32(feedback.ID));
        navigationManager.NavigateTo("/fetchdata", forceLoad: true);
    }


}
